<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">


</head>

<body>

<!-- Header Section Begin -->
<div th:insert="header"></div>
<!-- Header Section End -->

<!-- Shop Section Begin -->
<div class="container">
    <form action="#" th:action="@{/cadastro}" method="post" th:object="${user}">
        <input type="text" name="username" placeholder="Usuário" th:value="${user.username}"/>
        <input type="text" name="email" placeholder="email" th:value="${user.email}"/>
        <input type="password" name="password" placeholder="Senha" th:value="${user.password}"/>
        <input type="password" name="confirmPassword" placeholder="Confirmar senha"
               th:value="${user.confirmPassword}"/>
        <button type="submit" class="site-btn m-2">Cadastrar</button>
    </form>
    <form action="/signin/facebook" method="POST">
        <input type="hidden" name="scope" value="public_profile"/>
        <input class="fa fa-facebook" type="submit" value="Cadstro usando Facebook"/>
    </form>
    <div th:if="${param.logout}">
        <p>Você desconectou, volte sempre faça seu login.</p>
    </div>
    <div th:if="${param.error}">
        <p>Ops, Algo errado no seu cadastro.</p>
        <p>Caso já seja cadastrado tente novamente com seu usuario e senha ou com Facebook entrando na tela de <a
                th:href="@{/login}">Login</a>.</p>
    </div>

</div>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<div th:insert="footer"></div>
<!-- Footer Section End -->
</body>
</html>