<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/barfiller.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__cart">
        <div class="offcanvas__cart__links">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
        </div>
        <div class="offcanvas__cart__item">
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="cart__price">Cart: <span>$0.00</span></div>
        </div>
    </div>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>

</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<div th:insert="header"></div>
<!-- Header Section End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Cadastro</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./index.html">Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<div class="container">
    <div class="row">
        <div class="d-none d-md-block col-lg-6 col-md-6 mt-2 mb-2" style="background-color:#f08632;">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <img class="mx-auto mt-3 " src="/img/access/making-cake.jpg" width="80%">
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6">
            <div class="contact__form">
                <div style="background-color:#f08632;width: 425px;padding:5px;" class="m-2 p-3">
                    <form action="#" th:action="@{/cadastro}" method="post" th:object="${newuser}">
                        <div class="col-12">
                            <input type="text" name="name" placeholder="Usuário" th:value="${newuser.name}"/>
                        </div>
                        <div class="col-12">
                            <input type="text" name="email" placeholder="email" th:value="${newuser.email}"/>
                        </div>
                        <div class="col-12">
                            <input type="password" name="password" placeholder="Senha"  th:value="${newuser.password}"/>
                        </div>
                        <div class="col-12">
                            <input type="password" name="confirmPassword" placeholder="Confirmar senha" th:value="${newuser.confirmPassword}"/>
                        </div>
                        <div style="width: 425px;padding:5px;">
                            <button type="submit" class="site-btn m-2">Cadastrar</button>
                        </div>
                    </form>
                    <form action="/signin/facebook" method="POST">
                        <input type="hidden" name="scope" value="public_profile"/>
                        <input class="fa fa-facebook" type="submit" value="Cadstro usando Facebook"/>
                    </form>
                    <div th:if="${param.logout}">
                        <p>Você desconectou, volte sempre faça seu login.</p>
                    </div>
                    <div th:if="${param.error}">
                        <p>Ops, Algo errado no seu cadastro.</p>
                        <p>Caso já seja cadastrado tente novamente com seu usuario e senha ou com Facebook entrando na tela de <a th:href="@{/login}">Login</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<div th:insert="footer"></div>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.barfiller.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.slicknav.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>