<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>


    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">


</head>

<body>
<div th:insert="header"></div>
<!-- Header Section End -->


<!-- Shop Section Begin -->
<div class="container">
    <form th:action="@{/login}" method="POST">
        <input type="text" name="username" placeholder="Usuário"/>
        <input type="password" name="password" placeholder="Senha"/>
        <button type="submit" class="site-btn m-2">Login</button>
        <a th:href="@{/cadastro}" class="site-btn m-2">Cadastra-se</a>
    </form>
    <form action="/signin/facebook" method="POST">
        <input type="hidden" name="scope" value="public_profile"/>
        <input class="fa fa-facebook" type="submit" value="Login usando Facebook"/>
    </form>
    <div th:if="${param.logout}">
        <p>Você desconectou, volte sempre faça seu login.</p>
    </div>
    <div th:if="${param.error}">
        <p>Ops, usuario ou senha errados.</p>
        <p>Caso você não tenha cadastro entre em <a>cadastre-se</a>.</p>
        <p>Caso já seja cadastrado tente novamente com seu usuario e senha ou com Facebook.</p>
    </div>

</div>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<div th:insert="footer"></div>
<!-- Footer Section End -->

</body>
</html>